.primary-image {
	height: 640px;
	background-image: url(../images/background-image.jpg);
	background-size: cover;
	margin-top: $desktop-height-header;
}
h1 {
	margin: $mobile-padding-top-title $mobile-padding-left 0px $mobile-padding-left;
	color: $black;
	font: $mobile-font-headline;
	letter-spacing: -0.06em;
	text-align: left;
}
.content {
	margin: $desktop-margin-top-content auto;
	max-width: $desktop-width-content;
	color: $black;
	font: $desktop-font-body;
}
#mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $translucent-black;
	display: none;

	.submenu-showed & {
		display: block;
	}
}
//Desktop
@media only screen and (min-width:768px) {
	h1 {
		font: $desktop-font-headline;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		color: $white;
		text-align: center;
	}
}
//Phone
@media only screen and (max-width:768px) {
	.primary-image {
		height: $mobile-height-image;
		margin-top: $mobile-height-header;
	}
	.content {
		margin: $mobile-padding-top-content $mobile-padding-left;
		font: $mobile-font-body;
	}
	.menu-showed, .submenu-showed {
		#mask {
			display: block;
		}
	}
	.primary-image, h1, .content {
		transform: translateX(0);
		transition: transform 0.3s;
	}
	.menu-showed {
		.primary-image, h1, .content {
			transform: translateX(unquote("calc(100vw - ")$mobile-space-available-body unquote(")"));
		}
	}
}