//
//Styles for the header, logo, menu icon 
//and navigation elements
//@author Cesar A Santos R
//

//Default style for the navigation bar
.nav-header {
  background-color: $magenta;
  padding: 0px;
  position: fixed;
  z-index: 3;
  width: unquote("calc(100% -")$desktop-padding-header unquote(")");
  margin-top: -1 * $desktop-height-header;
  padding-left: $desktop-padding-header;

  //remove browser style for the unordered list
  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
  //Remove browser style for all anchors into the header
  a {
    text-decoration: none;
    -webkit-tap-highlight-color: $magenta;
    &:focus {
      outline: none;
    }
    &:active {
      background-color: inherit;
    }
  }
}
//Default style for the HUGE logo
.huge-logo {
  float: left;
  padding: $desktop-padding-header 0px;
  height: $desktop-height-header-content;
  width: $desktop-width-logo;
  margin-right: $desktop-margin-right;

  img {
    width: inherit;
  }
}
//Default style for the menu icon "hamburger"
.menu {
  width: $mobile-width-menu-icon;
  height: $mobile-height-header-content;
  padding: $mobile-padding-top-bottom-header 0;
  display: none;

  span {
    width: inherit;
    background-color: $white;
    height: $mobile-menu-portion;
    position: relative;
    display: block;
    top: $mobile-menu-portion * 2;
    transition: background 0s .3s;
  }
  span:before {
    content: "";
    background-color: $white;
    width: 100%;
    position: absolute;
    height: inherit;
    top: $mobile-menu-portion * -2;
    left: 0;
  }
  span:after {
    content: "";
    background-color: $white;
    width: 100%;
    position: absolute;
    height: inherit;
    top: $mobile-menu-portion * 2;
    left: 0;
  }
  span:before, span:after {
    transition-duration: .3s, .3s;
    transition-delay: 0s, .3s;
    transition-property: transform, top;
  }
}
//Default style for the container of the nav options
.nav-content {
  display: inline-block;

  //Hide the copyright element
  .copyright {
    display: none;
  }
}
//Default style for the list of main links
.primary-options {
  //Default style for each main link
  .primary-nav {
    font: $font-first-nav;
    height: inherit;
    display: inline-block;
    padding: $desktop-padding-header/2 $desktop-padding-header;
    color: $white;
  }
  & > li {
    display: inline-block;
    position: relative;
  }
  //Default style for main link hovered or activated 
  .primary-nav:hover, .active .primary-nav

  /* , .primary-nav:focus */
  {
    color: $magenta;
    background-color: $white;
  }
}
//Default style for the list of secondary links
.secondary-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $white;
  transition: all 0.3s;
  height: 0;
  padding: 0;
  overflow: hidden;

  //Default style for the list of secondary links when their main link is activated
  .nav-content .active & {
    padding-top: $desktop-padding-top-bottom-second-panel;
    padding-bottom: $desktop-padding-top-bottom-second-panel;
    height: inherit;
    overflow: auto;
    max-height: unquote("calc(100vh -") $desktop-height-header unquote("-") $desktop-padding-top-bottom-second-panel * 2 unquote(")");
  }
  //Default style for each secondary link
  .secondary-nav {
    display: inline-block;
    white-space: nowrap;
    font: $font-second-nav;
    padding: 0 $desktop-padding-right-left-second-nav;
    color: $black;
    width: unquote("calc(100% -")$desktop-padding-right-left-second-nav*2 unquote(")");

    //Default style for secondary link hovered
    &:hover

    /* , &:focus */
    {
      color: $magenta;
      background-color: $light-gray;
    }
  }
}
//Specific styles for Phone devices
@media only screen and (max-width:768px) {
  //Change the size of the navigation bar
  .nav-header {
    margin-top: -1 * $mobile-height-header;
    height: $mobile-height-header;
    padding-left: $mobile-padding-left;
  }
  //Show the menu icon "hamburger"
  .menu {
    display: inline-block;
    float: left;
  }
  //Change the logo style and hide it
  .huge-logo {
    display: none;
    padding: $mobile-padding-top-bottom-header 0px;
    height: $mobile-height-header-content;
    width: $mobile-width-logo;
  }
  //Change the style for the container of the nav options.
  //Move it for the left side
  .nav-content {
    position: absolute;
    padding-left: 0px;
    top: $mobile-height-header;
    left: 0;
    right: 100%;
    height: unquote("calc(100vh - ")$mobile-height-header unquote(")");
    background-color: $white;
    color: $black;
    overflow-y: auto;
    transition: right 0.3s;

    //Show the copyright
    .copyright {
      position: fixed;
      bottom: 0;
      margin-left: 0;
      left: 0;
      right: 100%;
      background-color: $white;
      border-top: 1px solid rgba(128, 128, 128, 1);
      font: $mobile-copyright;
      line-height: $mobile-padding-bottom-first-panel;
      transition: all 0.3s;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }
  }
  //Change the style of the list of main links
  .primary-options {
    padding-top: $mobile-padding-top-first-panel;
    padding-bottom: $mobile-padding-bottom-first-panel;

    & > li {
      display: block;
    }
    //Change the style for each main link
    .primary-nav {
      padding: 0px $mobile-width-chevron 0px $mobile-padding-left;
      width: unquote("calc(100% - ")$mobile-width-chevron+$mobile-padding-left unquote(")");
      color: $black;

      &:hover {
        color: initial;
        background-color: $light-gray;
      }
    }
    //Show a chevron on main links who has secondary links (collapsed)
    .has-children .primary-nav:after {
      content: "\276e";
      color: $magenta;
      position: absolute;
      right: 0;
      width: $mobile-width-chevron;
      text-align: center;
      transform: rotate($mobile-degree-chevron);
      transition: transform 0.3s;
    }
    //Change the style for main link activated
    .active {
      //Keep the same initial color
      .primary-nav {
        color: initial;
      }
      //Animate the chevron (uncollapsed)
      &.has-children .primary-nav:after {
        transform: rotate($mobile-degree-rotation-chevron);
      }
      //Put the list of secondary links below the main link
      .secondary-options {
        position: initial;
        padding-top: initial;
        padding-bottom: initial;
        max-height: none;
      }
    }
  }
  //When the menu or sub-menu is showed
  .menu-showed, .submenu-showed {
    //Show the logo
    .huge-logo {
      display: inline-block;
    }
    //Change the "hamburger" icon to "close" icon
    .menu {
      float: right;
      margin: 0px $mobile-padding-left-right-menu-icon;

      span {
        background: 0 0;

        &:before {
          top: 0;
          transform: rotate(45deg);
        }
        &:after {
          top: 0;
          transform: rotate(-45deg);
        }
        &:before, &:after{
          transition-property: top, transform;
        }
      }
    }
    //show the container of the nav options
    .nav-content {
      right: $mobile-space-available-body;

      //show the copyright
      .copyright {
        right: $mobile-space-available-body;
        margin-left: $mobile-padding-left;
      }
    }
  }
}