@import "_vars";
@import "fonts.css";

body {
	margin: 0px;
	background: #fff;
	color: #fff;

	&.menu-showed {
		overflow: hidden;
	}
}
a {
	text-decoration: none;
	-webkit-tap-highlight-color:$magenta;

	&:visited {
		color: white;
	}
	&:focus {
		outline: none;
	}
	&:active {
		background-color: inherit;
	}
}
@import "_header";
@import "_body";

/*
TODO:
- NAV: se solapan cuando el width del navegador estar cerca a 768;
- HAMBURGESA: estilo maluco cuando pasa de X a Hamburgesa
 */